.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.modal {
  background: white;
  padding: 20px;
  width: 400px;
  border-radius: 8px;
}

input,
textarea {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  color: black;
  background: white;
  border: 1px solid #ccc;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

